@use '../../styles/variables' as *;

.badge {
  display: inline-block;
  border-radius: 6px;
  padding: 2px 10px;
  font-size: $text-sm;
  font-weight: 500;
  color: $bg-primary;
  white-space: nowrap;

  &[data-priority='Low'] {
    background: $priority-low;
  }

  &[data-priority='Medium'] {
    background: $priority-medium;
  }

  &[data-priority='High'] {
    background: $priority-high;
  }
}
